- content_for :title do 
  Corsego
  \|
  New course


/ <<<<<<< HEAD
/ =======
/ .card
/ 	.card-header
/ 		%h3
/ 			.fa.fa-graduation-cap 
/ 			New course	
/   .card-body
/ 	= render 'form'

/ = link_to 'Back', courses_path

/ >>>>>>> gpuaccess
.card
  .card-header
    %h3
      .fa.fa-graduation-cap
      New course
/ <<<<<<< HEAD
.card-body
  = render 'form'
/ =======
/   .card-body
/   = render 'form'
  
/ >>>>>>> gpuaccess
= link_to 'Back', courses_path
